/* Style Settings */
@import url('https://fonts.googleapis.com/css?family=Karla:400,700&display=swap');
:root {
    --bgColor:#1C1C1C;
    --accentColor: #E6E6E6;
    --font: 'Karla', sans-serif;
    --body-color:#E6E6E6;
    
}

body{
    background-color: var(--bgColor) !important;
    font-family: 'Karla' !important;
}

.accordion-button:not(.collapsed)::after {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%231C1C1C'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e") !important;
}
.accordion-button::after {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23E6E6E6'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e") !important;
}
.accordion-button:focus {
  border-color: #000000 !important;
  box-shadow: 0 0 0 0rem rgba(0, 0, 0, 0.25) !important;
}
.accordion-button.collapsed {
    color: #E6E6E6 !important;
    background-color: #1C1C1C !important;
}
.accordion-button:not(.collapsed) {
    color: #1C1C1C !important;
    background-color: #E6E6E6 !important;
}

#userPhoto{
    width: 138px;
    height: 230px;
    float: left
    margin: 35px auto 20px;
    border-radius: 5%;
}

#userName{
    color: #FFFFFF;
    font-size: 1.45rem;
    font-weight: 1500;
    line-height: 1.25;
    display: inline-block;
    font-family: var(--font);
    width: 100%;
    text-align: center;
    vertical-align: center;
    text-decoration: none;
}

#bio{
    color: #E6E6E6;
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.25;
    display: inline-block;
    font-family: var(--font);
    width: 100%;
    text-align: center;
    text-decoration: none;
}

#links{
    max-width: 675px;
    width: auto;
    display: block;
    margin: 27px auto;
}
.link{
    display: block;
    background-color: var(--accentColor);
    color: var(--bgColor);
    font-family: var(--font);
    text-align: center;
    margin-bottom: 10px;
    margin-top: 10px;
    padding: 17px;
    text-decoration: none;
    font-size: 1rem;
    transition: all .25s cubic-bezier(.08,.59,.29,.99);
    border: solid var(--accentColor) 0px;
}

.link:hover{
    background-color: var(--bgColor);
    color: var(--accentColor);
}
